<ion-header>
  <ion-navbar>
    <ion-title>Informacion del paciente</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list no-lines>
		<ion-item>Nombre: {{paciente.nombre}}</ion-item>
		<ion-item>Estado: {{paciente.status}}</ion-item>
		<ion-item *ngIf="isUrgent">URGENCIA</ion-item>
		<ion-item *ngIf="!isUrgent">
			Historial medico: {{hasHistorial ? "Si" : "No"}}
		</ion-item>
		<ion-item>
			Signos vitales:
		</ion-item>
		<div *ngIf="!paciente.hasOwnProperty('signosVitales')">
			<ion-item>
				No han sido tomados.
			</ion-item>
		</div>
		<div *ngIf="paciente.hasOwnProperty('signosVitales')">
			<ion-item> · Frecuencia cardiaca: {{paciente.signosVitales.frecCard}}</ion-item>
			<ion-item> · Frecuencia respiratoria: {{paciente.signosVitales.frecResp}}</ion-item>
			<ion-item> · Presion: {{paciente.signosVitales.presion}}</ion-item>
			<ion-item> · Temperatura: {{paciente.signosVitales.temperatura}}</ion-item>
		</div>
	</ion-list>
</ion-content>

<ion-footer>
	

</ion-footer>